.c-hero {
    position: relative;

    &__image {
        width: 100%;
    }

    &__content-wrapper {
        position: absolute;
        max-width: 66%;
        bottom: 20px;
        left: 20px;

        @media all and (min-width: $bp-med) {
            bottom: 80px;
            left: 70px;
        }

        @media all and (min-width: $bp-large) {
            bottom: 120px;
            left: 105px;
        }
    }

    &__copy {
        @media all and (max-width: $bp-small) {
            display: none;
        }
    }
}
 