<header class="c-section-header {{ bemNomenclature }} {{ styleModifier }}">

    <h1 class="c-section-header__title">{{{ title }}}</h1>

    {{#if description }}
        <p class="c-section-header__desc">{{{ description }}}</p>
    {{/ if }}

</header><!-- end c-page-header -->