<section class="c-section">
    {{#section-header}}
        {{> molecules-section-header}}
    {{/section-header}}

    <div class="c-tiles-multicolumn-wrapper">
        {{#molecules-tiles}}
            {{> molecules-tile}}
        {{/molecules-tiles}}
    </div>
</section><!--end section-->