language: node_js
node_js:
- 12.9.0
cache: npm
deploy:
    provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    on: 
      branch: master

language: node_js
node_js:
  - 12.9.0
cache:
  directories:
  - node_modules
script:
  - npm run deployStyles  
  - npm run deployScripts
  - npm run pl:build  
  - npm run deploy