language: node_js
node_js:
- 12.9.0
cache:
  directories:
  - node_modules
script:
  - npm run deployStyles  
  - npm run deployScripts
  - npm run pl:build
deploy:
    provider: pages
    skip-cleanup: true
    github-token: $TravisCI
    local_dir: docs
    on: 
      branch:
        only:
          - main