{{#>templates-block-section 
    bemNomenclature="p-typography__font-family" 
    styleModifier="u-margin-bottom-large" 
}}
    {{> atoms-text 
        tag="h2" 
        text="<u>Font families</u>" 
        styleModifier=""
    }}
    <p>
        Websites used different typographies, the following section highlights the different typografic families & variations.
    </p>

    {{> atoms-text 
        tag="h3" 
        text="<u>Headliness</u>" 
        styleModifier=""
    }}

    <table class="headings">
        <tr>
            <th>
                {{> atoms-text 
                    tag="h3" 
                    text="<u>Antonio</u>" 
                    styleModifier=""
                }}
            </th>
            <th>
                {{> atoms-text 
                    tag="h3" 
                    text="<u>Rubik</u>" 
                    styleModifier=""
                }}
            </th>
        </tr>
        <tr>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Thin 100</u>" 
                    styleModifier=""
                }}
                <p class="antonio thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Thin 100</u>" 
                    styleModifier=""
                }}
                <p class="rubik thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
        </tr>
        <tr>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Extra light 200</u>" 
                    styleModifier=""
                }}
                <p class="antonio extraLight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Extra light 200</u>" 
                    styleModifier=""
                }}
                <p class="rubik extraLight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
        </tr>
        <tr>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Light 300</u>" 
                    styleModifier=""
                }}
                <p class="antonio light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Light 300</u>" 
                    styleModifier=""
                }}
                <p class="rubik light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
        </tr>
        <tr>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Regular 400</u>" 
                    styleModifier=""
                }}
                <p class="antonio regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Regular 400</u>" 
                    styleModifier=""
                }}
                <p class="rubik regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
        </tr>
        <tr>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Medium 500</u>" 
                    styleModifier=""
                }}
                <p class="antonio medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Medium 500</u>" 
                    styleModifier=""
                }}
                <p class="rubik medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
        </tr>
        <tr>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Semibold 600</u>" 
                    styleModifier=""
                }}
                <p class="antonio semiBold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Semibold 600</u>" 
                    styleModifier=""
                }}
                <p class="rubik semiBold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
        </tr>
        <tr>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Bold 700</u>" 
                    styleModifier=""
                }}
                <p class="antonio bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </td>
            <td>
                {{> atoms-text 
                    tag="h4" 
                    text="<u>Bold 700</u>" 
                    styleModifier=""
                }}
                <p class="rubik bold">Lorem ipsum dolor sit amet consectetur. </p>
            </td>
        </tr>
    </table>

    {{> atoms-text 
        tag="h3" 
        text="<u>Copy</u>" 
        styleModifier=""
    }}

    <table class="copy">
        <tr>
            <td>
                <p class="roboto thin">
                    Thin 100<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
            <td>
                <p class="roboto extraLight">
                    Extra Light 200<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
            <td>
                <p class="roboto light">
                    Light 300<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="roboto regular">
                    Regular 400<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
            <td>
                <p class="roboto medium">
                    Medium 500<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
            <td>
                <p class="roboto semiBold">
                    Semibold 600<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="roboto bold">
                    Bold 700<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
            <td>
                <p class="roboto ultrabold">
                    Ultrabold 800<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
            <td>
                <p class="roboto black">
                    Black 900<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. Nulla aliquam et erat auctor sagittis. Sed ultricies lorem sed nibh congue pulvinar. Aenean interdum at neque accumsan dapibus. Sed feugiat justo ut nisi dignissim facilisis. 
                </p>
            </td>
        </tr>
    </table>

    <table class="copy">
        <tr>
            <td>
                <p class="roboto large thin">
                    Thin 100<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
            <td>
                <p class="roboto large extraLight">
                    Extra Light 200<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
            <td>
                <p class="roboto large light">
                    Light 300<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="roboto large regular">
                    Regular 400<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
            <td>
                <p class="roboto large medium">
                    Medium 500<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
            <td>
                <p class="roboto large semiBold">
                    Semibold 600<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="roboto large bold">
                    Bold 700<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
            <td>
                <p class="roboto large ultrabold">
                    Ultrabold 800<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
            <td>
                <p class="roboto large black">
                    Black 900<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in hendrerit justo, quis cursus ante. 
                </p>
            </td>
        </tr>
    </table>
    
{{/templates-block-section }}

{{#>templates-block-section 
    bemNomenclature="p-typography__font-family" 
    styleModifier="u-margin-bottom-large" 
}}
    {{> atoms-text 
        tag="h2" 
        text="<u>Font settings</u>" 
        styleModifier=""
    }}
    <p>
        Typografies are not just handled by fonts. Combinations of line heights, font weights among others settings are put together
        in order to keep the same visual language. The following settings are set in order to provide a common language for every atoms.  
    </p>

    <table class="headings-settings">
        <tr>
            <th>
                {{> atoms-text 
                    tag="h3" 
                    text="<u>Primary heading</u>" 
                    styleModifier=""
                }}
            </th>
            <th>
                {{> atoms-text 
                    tag="h3" 
                    text="<u>small version</u>" 
                    styleModifier=""
                }}
            </th>
        </tr>
        <tr>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Hero</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="Rubik">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Hero</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="Rubik">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Extra large</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Extra large</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Large</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Large</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Medium</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Medium</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Small</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Small</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="antonio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Extra small</u>" 
                        styleModifier=""
                    }}
                    <div class="layout">
                        <!--
                        <div class="marker">
                            <span>24px</span>
                        </div>
                        <div class="marker">
                            <span>32px</span>
                        </div>
                        <div class="marker">
                            <span>67.2px</span>
                        </div>
                        <div class="marker">
                            <span>12px</span>
                        </div>
                        -->
                    </div>
                    <div class="content">
                        <p class="rubik">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div> 
                </div>
            </td>
            <td>
                <div class="type_measures_placeholder">
                    {{> atoms-text 
                        tag="h4" 
                        text="<u>Extra small</u>" 
                        styleModifier=""
                    }}
                    <div class="content">
                        <p class="rubik">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed iaculis purus, ut suscipit sapien.</p>
                    </div> 
                </div>
            </td>
        </tr>
    </table>
    
{{/templates-block-section }}

{{#>templates-block-section  styleModifier="u-margin-bottom-large" }}

    {{> atoms-text 
        tag="h2" 
        text="<u>Headlines</u>" 
        styleModifier=""
    }}

    {{#each headings}}
        {{> atoms-text}}
    {{/each}}

{{/templates-block-section }}


{{#>templates-block-section  styleModifier="u-margin-bottom-large" }}
    {{> atoms-text 
        tag="h2" 
        text="<u>Font formating</u>" 
        styleModifier=""
    }}

    {{#each fontFormating}}
        {{> atoms-text}}
    {{/each}}
{{/templates-block-section }}