{{> organisms-header }}

<main role="main">

	{{>templates-carousel carouselHero}}

	{{#>templates-block-section }}
		{{#organisms-tiles-multicolumn}}
			{{> templates-tiles-multicolumn }}
		{{/organisms-tiles-multicolumn}}
	{{/templates-block-section }}
</main>

{{> organisms-footer }}