<table class="{{ styleModifier }}">
	<tr>
		<td style="border: 1px solid; padding: 15px;">
			{{ content }}
		</td> 
		
		<td style="border: 1px solid; padding: 15px;">
			{{ alt }}
		</td> 
	</tr>
</table>
