{{> organisms-header }}

<main role="main">

	{{>templates-carousel carouselHero}}

	{{#organisms-tiles-multicolumn}}
		{{> templates-tiles-multicolumn }}
	{{/organisms-tiles-multicolumn}}
</main>

{{> organisms-footer }}