<div class="c-carousel" id="{{id}}">
    <div class="c-carousel__dots-wrapper">
            {{#each items}}
                <a class="c-carousel__dot" href="#{{this.id}}"></a>
            {{/each}}
    </div>
    <span class="c-carousel__prev">prev</span>
    <span class="c-carousel__next">next</span>
    <div class="c-carousel__contentWrapper">
        {{ @partial-block }}
        
        {{#unless @partial-block}}
            {{#each items }}
                {{>molecules-hero  
                    bemNomenclature="c-carousel__item" 
                    id=this.id 
                    image=this.image
                    alt=this.alt
                    title=this.title
                    subtitle=this.subtitle
                }} 
            {{/each}}
                
        {{/unless}}
    </div>
</div>