.c-carousel {
    overflow: hidden;
    position: relative;
    
    &__contentWrapper {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
            width: 10px;
            height: 10px;
        }
    }

    &__item {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100vw;
        min-height: 300px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
    }

    &__item--no-content {
                
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__dots-wrapper {
        position: absolute;
        bottom: 20px;
        z-index: 1;
        width: 100%;
        text-align: center;
    }

    &__dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.5);
        display: inline-block;
        margin: 4px;

        &--active {
            background-color: rgba(0,0,0,0.8);
        }
    }

    &__next, &__prev {
        display: block;
        width: 48px;
        height: 48px;
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        top: calc(50% - 24px);
        z-index: 1;
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }
    
}